﻿@model todo_domain_entities.TodoItem

@{
    ViewData["Title"] = "Create todo";
}

<div class="text-center">
    <h1>Create new todo item</h1>

    <h4>To Do</h4>
</div>
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control input-group-text" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemStatus" class="control-label"></label>
                <select asp-for="ItemStatus" class="form-control">
                    <option disabled selected>Choose status of a task</option>
                    <option value="Completed">Completed</option>
                    <option value="InProgress">In progress</option>
                    <option value="NotStarted">Not started</option>
                </select>
                <span asp-validation-for="ItemStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-center mt-2">
    <a class="btn btn-secondary" asp-action="Index" asp-controller="TodoList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
