﻿@model todo_aspnetmvc_ui.Models.ViewModels.EditItemViewModel;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TodoItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Item.EntryID" />
            <div class="form-group">
                <label asp-for="@Model.Item.Title" class="control-label"></label>
                <input asp-for="@Model.Item.Title" class="form-control" />
                <span asp-validation-for="@Model.Item.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item.Description" class="control-label"></label>
                <input asp-for="@Model.Item.Description" class="form-control" />
                <span asp-validation-for="@Model.Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item.DueDate" class="control-label"></label>
                <input asp-for="@Model.Item.DueDate" class="form-control" />
                <span asp-validation-for="@Model.Item.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item.ItemStatus" class="control-label"></label>
                <select asp-for="@Model.Item.ItemStatus" class="form-control">
                    <option disabled selected>Choose status of a task</option>
                    <option value="Completed">Completed</option>
                    <option value="InProgress">In progress</option>
                    <option value="NotStarted">Not started</option>
                </select>
                <span asp-validation-for="@Model.Item.ItemStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item.ListID" class="control-label"></label>
                <select asp-for="@Model.Item.ListID" class="form-control" asp-items="ViewBag.ListID">
                    <option disabled selected>Choose TO DO List</option>
                    @foreach (var list in Model.Lists)
                    {
                        <option value="@list.ListId">@list.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.Item.ListID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="TodoList" asp-route-id="@Model.Item.ListID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
