﻿@model todo_aspnetmvc_ui.Models.ViewModels.TodoListDetailsViewModel

@{
    ViewData["Title"] = "Details";
}


<div>
    <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
        <i class="fas fa-check-square me-1"></i>
        <u>@Html.DisplayFor(model => model.List.Name)</u>
    </p>

    <form asp-controller="TodoList" asp-action="Details" asp-route-id="@Model.List.ListId" method="get">

        <div class="form-check mb-3">
            <input class="form-check-input"
                   type="checkbox"
                   asp-for="@Model.HideCompletedItems" />
            <label class="form-check-label" asp-for="@Model.HideCompletedItems">
                @Model.HideCompletedDescription
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input"
                   type="checkbox"
                   asp-for="@Model.ShowWithDueToday" />
            <label class="form-check-label" asp-for="@Model.ShowWithDueToday">
                @Model.ShowWithDueTodayDescription
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input"
                   type="checkbox"
                   asp-for="@Model.HideExpired" />
            <label class="form-check-label" asp-for="@Model.HideExpired">
                @Model.HideExpiredDescription
            </label>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>

    @foreach (var item in Model.List.TodoItems)
    {
        #region Setting color of item status badge
        string color;
        string textColor;
        if (item.ItemStatus == todo_domain_entities.ItemStatuses.Completed)
        {
            color = "success";
            textColor = "light";
        }
        else if (item.ItemStatus == todo_domain_entities.ItemStatuses.NotStarted)
        {
            color = "info";
            textColor = "dark";
        }
        else
        {
            color = "danger";
            textColor = "light";
        }
        #endregion
        <div class="card bg-warning mb-2">
            <div class="card-body text-center d-flex justify-content-between pb-2 pt-2">
                <div>
                    <a class="card-text text-black-50 font-weight-bold stretched-link text-decoration-none"
                       asp-controller="TodoItem"
                       asp-action="Edit"
                       asp-route-id="@item.EntryID">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                    <div class="badge badge-@color text-@textColor ml-2">@item.ItemStatus</div>
                </div>

                <div class="dropright d-inline-block text-black-50" style="position: relative; z-index: 3;">
                    <a data-toggle="dropdown"><i class="fa fa-ellipsis-v fa-2x waves-effect" style="transform: rotate(0);"></i></a>
                    <div class="dropdown-menu" style="z-index: 5000;">
                        <form class="" asp-controller="Reminders" asp-action="Create" asp-route-id="@item.EntryID" method="post">
                            <div class="">
                                <input type="submit" value="Create reminder" class="border-0 btn-transition btn btn-outline-danger dropdown-item" />
                            </div>
                        </form>
                        <form class="" asp-controller="Reminders" asp-action="Delete" asp-route-id="@item.EntryID" method="post">
                            <div class="">
                                <input type="submit" value="Delete reminder" class="border-0 btn-transition btn btn-outline-danger dropdown-item" />
                            </div>
                        </form>
                        <a class="dropdown-item" asp-action="Delete" asp-controller="TodoItem" asp-route-id="@item.EntryID">
                            <i class="fa fa-trash-o fa-lg"></i>Delete
                        </a>
                        <a class="dropdown-item" asp-action="Edit" asp-controller="TodoItem" asp-route-id="@item.EntryID">
                            <i class="fa fa-pencil fa-fw"></i>Edit
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-footer pt-1 pb-1">
                <div class="blockquote mb-1"><i>Created: @item.CreationDate.ToShortDateString()</i></div>
                <div class="blockquote mb-1"><i>Expiration: @item.DueDate.ToShortDateString()</i></div> 
            </div>
        </div>
    }

</div>
<div>
    <a class="btn btn-outline-light btn-dark" asp-action="Edit" asp-route-id="@Model.List.ListId">Edit list</a> |
    <a class="btn btn-outline-light btn-primary" asp-action="Create" asp-controller="TodoItem" asp-route-id="@Model.List.ListId">Create new todo</a> |
    <a class="btn btn-outline-light btn-success" asp-action="Index">Back to List</a>
</div>

<style>
    i:hover {
        color: #4285F4;
    }

    .dropdown-menu {
        position: fixed;
    }

    .dropdown .dropdown-menu .dropdown-item {
        padding: 1rem;
        margin-left: 0;
        display: inline-block;
    }

        .dropdown .dropdown-menu .dropdown-item:hover {
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
            color: white;
            background: #4285F4;
        }

    .card-text {
        font-size: 18px;
    }

    .blockquote{
        font-size:14px;
    }
</style>