﻿@model todo_aspnetmvc_ui.Models.ViewModels.ListIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Hello.</h1>
<h2 class="text-center">Today you have @Model.Lists.Count() tasks.</h2>

<div>
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label"></label>
            <input type="text" name="name" class="form-control" value="@ViewData["NameOfListParam"]" />
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-warning" />
        </div>
    </form>
</div>
<form asp-controller="TodoList" asp-action="Index" method="get">

    <div class="form-check mb-3">
        <input class="form-check-input"
               type="checkbox"
               asp-for="@Model.ShowHidedLists" />
        <label class="form-check-label" asp-for="@Model.ShowHidedLists">
            @Model.CheckboxDescription
        </label>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@if (Model.Reminders.Any())
{
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reminders for tasks.</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @foreach (var item in Model.Reminders)
                    {
                        <div>
                            <p>@item.Title</p>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="card border-0">
    @foreach (var list in Model.Lists)
    {
        <div class="card bg-primary mb-2">
            <div class="card-body text-center d-flex justify-content-between">
                <div>
                    <a class="card-text text-white font-weight-bold stretched-link text-decoration-none" asp-action="Details" asp-route-id="@list.ListId">@Html.DisplayFor(modelItem => list.Name)</a>
                    <p class="blockquote">@list.TodoItems.Count tasks.</p>
                </div>
                <div class="dropright d-inline-block text-white" style="position: relative; z-index: 3;">
                    <a data-toggle="dropdown"><i class="fa fa-ellipsis-v fa-2x waves-effect" style="transform: rotate(0);"></i></a>
                    <div class="dropdown-menu" style="z-index: 5000;">
                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@list.ListId"><i class="fa fa-pencil fa-fw"></i> Edit</a>
                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@list.ListId"><i class="fa fa-trash-o fa-lg"></i> Delete</a>
                        <form asp-action="Copy" asp-route-id="@list.ListId" method="post">
                            <input type="submit" value="Copy" class="dropdown-item" />
                        </form>
                        <form asp-action="Hide" asp-route-id="@list.ListId" method="post">
                            <input type="submit" value="Hide" class="dropdown-item" />
                        </form>
                        <form asp-action="Show" asp-route-id="@list.ListId" method="post">
                            <input type="submit" value="Show" class="dropdown-item" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $('a[data-toggle="dropdown"]').click(function () {
        dropDownFixPosition($(this), $('.dropdown-menu'));
    });

    function dropDownFixPosition(a, dropdown) {
        var dropDownTop = a.offset().top + a.outerHeight();
        dropdown.css('top', dropDownTop + "px");
        //Delete - dropdown.width() if you want menu to be bottom right of link
        dropdown.css('left', a.offset().left - dropdown.width() + "px");
    }
</script>

<style>
    i:hover {
        color: #4285F4;
    }

    .dropdown-menu {
        position: fixed;
    }

    .dropdown .dropdown-menu .dropdown-item {
        padding: 1rem;
        margin-left: 0;
        display: inline-block;
    }

        .dropdown .dropdown-menu .dropdown-item:hover {
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
            color: white;
            background: #4285F4;
        }

    .card-text {
        font-size: 18px;
    }
</style>